@model Isik.SAMS.Models.Entity.SAMS_StudentApplications
@{
    ViewBag.Title = "Student Application";
    Layout = "~/Views/Shared/_Layout1.cshtml";

    if (Session["ApplicationId"] == null && Session["ProgramId"] == null)
    {
        Response.Redirect("/StudentApplication/Index");
    }
}

<div class="radio-buttons">
    @if (ViewBag.IsAuthenticated == "false" || ViewBag.IsAuthenticated == null)
    {
        <div class="emailVerification">
            <p class="col-md-12" style="text-align:center; font-size:22px; color:black; font-weight:bold;">BANK RECEIPT UPLOAD</p>
            @using (Html.BeginForm("UploadBankReceipt", "StudentApplication", FormMethod.Post, new Dictionary<string, object>() {
                                { "class", "form-horizontal" },
                                { "role", "form" },
                                { "enctype", "multipart/form-data"},
                                }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="req" for="code">Bank Receipt</label>
                        @Html.TextBoxFor(model => model.BankReceipt, new Dictionary<string, object>()
                        {
                            {"class", "form-control"},
                            {"type", "file" },
                            {"id", "fileName" },
                            {"required", "" },
                            {"oninvalid","this.setCustomValidity('Please choose a file.')" },
                            {"oninput","this.setCustomValidity('')" },
                            {"accept", ".jpeg, .png, .jpg, .pdf, .docx" }
                        })
                    </div>
                    <div class="pull-left col-md-6">
                        <a href="@Url.Action("Index", "StudentApplication", new { area = "" })">Back to Program Selection</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary pull-right" type="submit">Upload</button>
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (ViewBag.ExtensionNotAllowed != null)
{
    <script>
            $(document).ready(function () {
                swal('@(ViewBag.ExtensionNotAllowed)');
            });
    </script>
}

@if (ViewBag.FileSizeWarining != null)
{
    <script>
            $(document).ready(function () {
                swal('@(ViewBag.FileSizeWarining)');
            });
    </script>
}

@if (ViewBag.FilesUploaded != null)
{
    <script>
        $(document).ready(function () {
            swal({
                title: "Thank You!",
                text: "Your bank receipt has been saved. Please stay tuned.",
                type: "success",
                confirmButtonText: "OK!",
                confirmButtonColor: "#ec6c62"
            }).then(() => {
                window.location.href = "/StudentApplication/";
            });
        });
    </script>
}
    </body>
    </html>





