@using Isik.SAMS.Models.Entity

@model SAMS_StudentApplications
@{
    ViewBag.Title = "Application Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
        border-radius: 5px;
        font-size: 11px;
        font-weight: 700;
        color: #888ea8;
        padding: 8px 16px 8px 8px;
        cursor: pointer;
    }
</style>

<script>
    function isDefaultFunction(data) {
        if (data == 0) {
            return '<i style="color:rgb(185, 1, 0);margin-left:31%;" class="icon-minus"></i>'
        }
        else {
            return '<i style="color:rgb(41, 180, 0);margin-left:31%;" class="icon-ok center"></i>'
        }
    }

</script>
<div class="col-12">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="cover">
                <div class="cover-head" style="background-image: url('/Assets/img/account1.jpg');">
                    <span class="cover-label" style="font-size:18px;background:#fff;padding:5px 10px;border-radius:2px;float:right;">
                    </span>
                </div>
                <div class="cover-content">
                    <span class="cover-label">
                        <strong style="color:#304aca;text-transform:uppercase">@Model.StudentFirstName @Model.StudentLastName</strong>
                        <span>@Model.Email</span>
                    </span>

                    <span class="cover-label">
                        <strong>Program</strong>
                        <span>@Model.ProgramName</span>
                    </span>
                    <span class="cover-label">
                        <strong>Department</strong>
                        <span>@Model.DepartmentName</span>
                    </span>
                    <span class="cover-label">
                        <strong>Status</strong>
                        <span>@Model.StatusName</span>
                    </span>
                    <span class="cover-label">

                        <strong>Application Date</strong>
                        <span>@Model.CreatedTime</span>

                    </span>
                    @if (Model.Status == 2 || Model.Status == 1 || Model.Status == 3)
                    {
                        <div class="pull-right">
                            <a class="btn btn-info btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("Insert", "Account")">
                                <i class="icon-download"></i> Download the files
                            </a>
                            <button class="btn btn-danger btn-sm pull-right ml-1" onclick="rejectApplication('@(Model.Id)')">
                                <i class="icon-cancel-2"></i> Reject
                            </button>
                            @if (Convert.ToInt32(Session["UserType"]) == 2)
                            {
                                <button class="btn btn-success btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("MeetingLink","Application", new { Id = Model.Id })">
                                    <i class="icon-ok-2"></i> Send Meeting Link
                                </button>
                                <button class="btn btn-success btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("Scholarship","Application", new { Id = Model.Id })">
                                    <i class="icon-ok-2"></i> Approve
                                </button>
                            }
                            else
                            {
                                if (ViewBag.isFileMissing == "True")
                                {
                                    <button class="btn btn-success btn-sm pull-right ml-1"onclick="requestMissingFiles('@(Model.Id)');">
                                        <i class="icon-ok-2"></i> Request Missing Files
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-success btn-sm pull-right ml-1" onclick="approveApplication('@(Model.Id)');">
                                        <i class="icon-ok-2"></i> Approve
                                    </button>
                                }


                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area animated-underline-content">
            <ul class="nav nav-tabs" id="simpletab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Personal Information</a>
                </li>
                <li class="nav-item" data-href="/EMP/VWEMP_Leave/DataSource">
                    <a class="nav-link" id="leave-tab2" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">Educational Information</a>
                </li>
                <li class="nav-item pull-right">
                    <a class="nav-link" id="employeeFiles-tab2" data-toggle="tab" href="#employeeFiles" role="tab" aria-controls="employeeFiles" aria-selected="false">Documents</a>
                </li>


            </ul>
            <div class="tab-content" id="simpletabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Name</strong></div>
                                    <div class="pull-right">@Model.StudentFirstName </div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Surname</strong></div>
                                    <div class="pull-right">@Model.StudentLastName</div>
                                </div>

                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Gender</strong></div>
                                    <div class="pull-right">@Model.Gender</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Date of Birth</strong></div>
                                    <div class="pull-right">@Model.DateofBirth</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>City of Birth</strong></div>
                                    <div class="pull-right">@Model.CityofBirth</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Passport Number</strong></div>
                                    <div class="pull-right">@Model.PassportNumber</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country of Birth</strong></div>
                                    <div class="pull-right">@Model.Country</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Citizenship</strong></div>
                                    <div class="pull-right">@Model.Citizenship</div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">

                                <div class="clearfix">
                                    <div class="pull-left"><strong>Phone</strong></div>
                                    <div class="pull-right">@Model.PhoneNumber</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Adress </strong></div>
                                    <div class="pull-right">@Model.Address</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country of Residence</strong></div>
                                    <div class="pull-right">@Model.Country</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Father's Name</strong></div>
                                    <div class="pull-right">@Model.FatherName</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Mother's Name</strong></div>
                                    <div class="pull-right">@Model.MotherName</div>
                                </div>
                                <hr>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">
                    <div>
                        @if (Model.ProgramId == 8002)
                        {
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Blue Card Owner (Turkish Applicants Only)</strong></div>
                                        <div class="pull-right">@Model.BlueCardOwner</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Dual Citizenship</strong></div>
                                        <div class="pull-right">@Model.DualCitizenship</div>
                                    </div>

                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Previously studied at a university</strong></div>
                                        <div class="pull-right">@Model.IsGradFromUni</div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-md-6">

                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Secondary High Name</strong></div>
                                        <div class="pull-right">@Model.HighSchoolName</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Graduation Year of High School</strong></div>
                                        <div class="pull-right">@Model.HighSchoolGradYear</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>GPA of High School</strong></div>
                                        <div class="pull-right">@Model.HighSchoolGPA</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Country of High School</strong></div>
                                        <div class="pull-right">@Model.HighSchoolCountry</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>City of High School</strong></div>
                                        <div class="pull-right">@Model.HighSchoolCity</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Language Exam Score</strong></div>
                                        <div class="pull-right">@Model.LanguageExamScore</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Language Proficiency</strong></div>
                                        <div class="pull-right">@Model.LanguageProficiency</div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        }
                        @if (Model.ProgramId == 6003)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Graduation Year of Master</strong></div>
                                        <div class="pull-right">@Model.MasterGradDate</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>GPA of Master</strong></div>
                                        <div class="pull-right">@Model.MasterGPA</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Country of Master</strong></div>
                                        <div class="pull-right">@Model.MasterCountry</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Master University Name</strong></div>
                                        <div class="pull-right">@Model.MasterUni</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Master Program Name</strong></div>
                                        <div class="pull-right">@Model.MasterProgram</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Language Proficiency</strong></div>
                                        <div class="pull-right">@Model.LanguageProficiency</div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        }
                        @if (Model.ProgramId == 6002)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Graduation Year of Bachelor</strong></div>
                                        <div class="pull-right">@Model.BachelorGradDate</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>GPA of Bachelor</strong></div>
                                        <div class="pull-right">@Model.BachelorGPA</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Country of Bachelor</strong></div>
                                        <div class="pull-right">@Model.BachelorCountry</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Bachelor University Name</strong></div>
                                        <div class="pull-right">@Model.BachelorUni</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Bachelor Program Name</strong></div>
                                        <div class="pull-right">@Model.BachelorProgram</div>
                                    </div>
                                    <hr>
                                    <div class="clearfix">
                                        <div class="pull-left"><strong>Language Proficiency</strong></div>
                                        <div class="pull-right">@Model.LanguageProficiency</div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="tab-pane fade" id="healthreport" role="tabpanel" aria-labelledby="healthreport-tab" data-href="/EMP/VWEMP_HealthReport/DataSource">
                        <div class="k-widget k-grid" id="VWEMP_HealthReport" data-role="grid"><div class="k-header k-grid-toolbar k-grid-top"><button class="pull-right k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span></button><button class="pull-right k-button k-button-icontext k-grid-excel" type="button"><span class="k-icon k-i-excel"></span></button><a class="k-button k-button-icontext " data-method="GET" data-show="always" href="/EMP/VWEMP_HealthReport/Insert?employeeId=64d6abed-8e83-4775-aedc-af494725dfb1"><span></span><i class="icon-plus-circled"></i> Sağlık Raporu Oluştur</a><a class="k-button k-button-icontext " data-method="GET" data-show="single" href="/EMP/VWEMP_HealthReport/Update"><span></span><i data-original-title="Sağlık Raporu Düzenle" class="icon-edit"></i></a><a class="k-button k-button-icontext " data-ask="" href="/EMP/VWEMP_HealthReport/Delete"><span></span><i data-original-title="Sağlık Raporu Sil" class="icon-trash"></i></a></div><div class="k-grid-header" style="padding-right: 8px;"><div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable" style="touch-action: none;"><table role="grid" tabindex="-1"><colgroup><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"></colgroup><thead role="rowgroup"><tr role="row"><th class="k-header k-filterable k-with-icon" data-field="type_Title" data-index="0" data-title="Rapor Tipi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=type_Title-asc" tabindex="-1">Rapor Tipi</a></th><th class="k-header k-filterable k-with-icon" data-field="startDate" data-index="1" data-title="Rapor Başlangıç Tarihi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=startDate-asc" tabindex="-1">Rapor Başlangıç Tarihi</a></th><th class="k-header k-filterable k-with-icon" data-field="endDate" data-index="2" data-title="Rapor Bitiş Tarihi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=endDate-asc" tabindex="-1">Rapor Bitiş Tarihi</a></th><th class="k-header k-filterable k-with-icon" data-field="status" data-index="3" data-title="Rapor Durumu" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=status-asc" tabindex="-1">Rapor Durumu</a></th><th class="k-header k-filterable k-with-icon" data-field="dayCount" data-index="4" data-title="Raporlu Gün Sayısı" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=dayCount-asc" tabindex="-1">Raporlu Gün Sayısı</a></th></tr></thead></table></div></div><div class="k-grid-content" style="height:365px"><table role="grid" tabindex="0" data-role="selectable" class="k-selectable" style="touch-action: none;"><colgroup><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"></colgroup><tbody role="rowgroup"><tr class="k-no-data"><td colspan="5"></td></tr></tbody></table></div><div class="k-pager-wrap k-grid-pager k-widget k-floatwrap" data-role="pager"><a class="k-link k-pager-nav k-state-disabled k-pager-first" data-page="1" href="#" title="İlk sayfaya git"><span class="k-icon k-i-seek-w">seek-w</span></a><a class="k-link k-pager-nav k-state-disabled" data-page="0" href="#" title="Bir önceki sayfaya git"><span class="k-icon k-i-arrow-w">arrow-w</span></a><ul class="k-pager-numbers k-reset"><li><span class="k-state-selected" data-page="1">1</span></li></ul><a class="k-link k-pager-nav k-state-disabled" data-page="2" href="#" title="Bir sonraki sayfaya git"><span class="k-icon k-i-arrow-e">arrow-e</span></a><a class="k-link k-pager-nav k-state-disabled k-pager-last" data-page="1" href="#" title="Son sayfaya git"><span class="k-icon k-i-seek-e">seek-e</span></a><span class="k-pager-sizes k-label"><span title="" class="k-widget k-dropdown k-header" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="362dce9d-8d1c-4288-ba2a-69f89f283381" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">10</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-i-arrow-s">select</span></span></span><select data-role="dropdownlist" style="display: none;"><option value="10" selected="selected">10</option><option value="100">100</option></select></span>Sayfa başına ürün</span><a class="k-pager-refresh k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1" title="Yenile"><span class="k-icon k-i-refresh">Yenile</span></a><span class="k-pager-info k-label">No items to display</span></div></div>
                        <script>
                            jQuery(function () { jQuery("#VWEMP_HealthReport").kendoGrid({ "excelExport": Kendo_ExcelExport, "dataBound": Kendo_GridLoad, "change": Kendo_GridChange, "columns": [{ "title": "Rapor Tipi", "headerAttributes": { "data-field": "type_Title", "data-title": "Rapor Tipi" }, "width": "150px", "field": "type_Title", "encoded": true }, { "title": "Rapor Başlangıç Tarihi", "headerAttributes": { "data-field": "startDate", "data-title": "Rapor Başlangıç Tarihi" }, "width": "150px", "field": "startDate", "format": "{0:d.MM.yyyy}", "encoded": true }, { "title": "Rapor Bitiş Tarihi", "headerAttributes": { "data-field": "endDate", "data-title": "Rapor Bitiş Tarihi" }, "width": "150px", "field": "endDate", "format": "{0:d.MM.yyyy}", "encoded": true }, { "title": "Rapor Durumu", "headerAttributes": { "data-field": "status", "data-title": "Rapor Durumu" }, "width": "150px", "field": "status", "encoded": true }, { "title": "Raporlu Gün Sayısı", "headerAttributes": { "data-field": "dayCount", "data-title": "Raporlu Gün Sayısı" }, "width": "150px", "field": "dayCount", "encoded": true }], "pageable": { "autoBind": false, "refresh": true, "pageSizes": [10, 100], "buttonCount": 10, "messages": { "allPages": "Tümünü getir", "itemsPerPage": "Sayfa başına ürün", "first": "İlk sayfaya git", "previous": "Bir önceki sayfaya git", "next": "Bir sonraki sayfaya git", "last": "Son sayfaya git", "refresh": "Yenile" } }, "sortable": { "mode": "multiple" }, "selectable": "Single, Row", "filterable": { "operators": { "string": { "contains": "İçeriyor", "startswith": "İle Başlar", "eq": "Eşit", "neq": "Eşit Değil", "endswith": "İle Biter", "doesnotcontain": "İçermiyor" } } }, "excel": { "fileName": "Çalışan Kartı-5.06.2021 12:49:26.xlsx", "allPages": true }, "pdf": { "allPages": true, "fileName": "Çalışan Kartı-5.06.2021 12:49:26.pdf", "landscape": true, "margin": { "top": 1, "right": 1, "bottom": 1, "left": 1 }, "title": "Çalışan Kartı" }, "resizable": true, "scrollable": { "height": "365px" }, "toolbar": { "command": [{ "name": null, "attr": " class=\"pull-right hide\"", "buttonType": "ImageAndText", "text": "Export to PDF" }, { "name": null, "attr": " class=\"pull-right hide\" type=\"button\"", "buttonType": "ImageAndText", "text": "Export to Excel" }, { "name": null, "attr": " data-show=\"always\" data-method=\"GET\"", "buttonType": "ImageAndText", "text": "\u003ci class=\u0027icon-plus-circled\u0027\u003e\u003c/i\u003e Sağlık Raporu Oluştur" }, { "name": null, "attr": " data-show=\"single\" data-method=\"GET\"", "buttonType": "ImageAndText", "text": "\u003ci data-original-title=\u0027Sağlık Raporu Düzenle\u0027 class=\u0027icon-edit\u0027\u003e\u003c/i\u003e" }, { "name": null, "attr": " data-ask=\"\"", "buttonType": "ImageAndText", "text": "\u003ci data-original-title=\u0027Sağlık Raporu Sil\u0027 class=\u0027icon-trash\u0027\u003e\u003c/i\u003e" }] }, "noRecords": { "template": "Görüntülenecek bir kayıt bulunamadı." }, "messages": { "noRecords": "No records available." }, "autoBind": false, "dataSource": { "type": (function () { if (kendo.data.transports['aspnetmvc-ajax']) { return 'aspnetmvc-ajax'; } else { throw new Error('The kendo.aspnetmvc.min.js script is not included.'); } })(), "transport": { "read": { "url": "/EMP/VWEMP_HealthReport/DataSource" }, "prefix": "" }, "pageSize": 25, "page": 1, "total": 0, "serverPaging": true, "serverSorting": true, "serverFiltering": true, "serverGrouping": true, "serverAggregates": true, "filter": [{ "field": "employeeId", "operator": "eq", "value": "64d6abed-8e83-4775-aedc-af494725dfb1" }], "schema": { "data": "Data", "total": "Total", "errors": "Errors", "model": { "fields": { "employeeId": { "type": "string", "defaultValue": null }, "type": { "type": "number", "defaultValue": null }, "startDate": { "type": "date", "defaultValue": null }, "endDate": { "type": "date", "defaultValue": null }, "status": { "type": "number", "defaultValue": null }, "dayCount": { "type": "number", "defaultValue": null }, "createdby_Title": { "type": "string" }, "changedby_Title": { "type": "string" }, "employeeId_Title": { "type": "string" }, "type_Title": { "type": "string" }, "status_Title": { "type": "string" }, "jobStartDate": { "type": "date", "defaultValue": null }, "identityNumber": { "type": "string" }, "id": { "type": "string" }, "created": { "type": "date", "defaultValue": null }, "changed": { "type": "date", "defaultValue": null }, "changedby": { "type": "string", "defaultValue": null }, "createdby": { "type": "string", "defaultValue": null } } } } }, "navigatable": true }); });
                        </script>
                    </div>*@

                <div class="tab-pane fade" id="employeeFiles" role="tabpanel" aria-labelledby="employeeFiles-tab">

                    <div class="clearfix">
                        @if (Model.ProgramId == 6002)
                        {
                            <fieldset data-filtre="CV">
                                <legend>CV</legend>
                                <div class="fileupload-container">
                                    @if (Model.cvContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "CV" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download CV</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>CV</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Bachelor Diploma">
                                <legend>Bachelor Diploma</legend>
                                <div class="fileupload-container">
                                    @if (Model.bachelorDiplomaContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "BachelorDiploma" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Bachelor Diploma</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Bachelor Diploma</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Bachelor Transcript">
                                <legend>Bachelor Transcript</legend>
                                <div class="fileupload-container">
                                    @if (Model.bachelorTranscriptContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "BachelorTranscript" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Bachelor Transcript</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Bachelor Transcript</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Copy of Passport / ID Card">
                                <legend>Copy of Passport / ID Card</legend>
                                <div class="fileupload-container">
                                    @if (Model.IdorPassportCopyContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "CopyofPassportorIDCard" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Copy of Passport / ID Card</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Copy of Passport / ID Card</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="English Language Proficiency Score">
                                <legend>English Language Proficiency Score</legend>
                                <div class="fileupload-container">
                                    @if (Model.englishLanguageProfScoreContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "EnglishLanguageProficiencyScore" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download English Language Proficiency Score</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>English Language Proficiency Score</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                        }
                        else if (Model.ProgramId == 8002)
                        {
                            <fieldset data-filtre="High School Transcript">
                                <legend>High School Transcript</legend>
                                <div class="fileupload-container">
                                    @if (Model.bachelorTranscriptContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "HighSchoolTranscript" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download High School Transcript</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>High School Transcript</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Copy of Passport / ID Card">
                                <legend>Copy of Passport / ID Card</legend>
                                <div class="fileupload-container">
                                    @if (Model.IdorPassportCopyContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "CopyofPassportorIDCard" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Copy of Passport / ID Card</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Copy of Passport / ID Card</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="English Language Proficiency Score">
                                <legend>English Language Proficiency Score</legend>
                                <div class="fileupload-container">
                                    @if (Model.englishLanguageProfScoreContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "EnglishLanguageProficiencyScore" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download English Language Proficiency Score</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>English Language Proficiency Score</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Residence Permit">
                                <legend>Residence Permit</legend>
                                <div class="fileupload-container">
                                    @if (Model.residencePermitContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "ResidencePermit" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Residence Permit</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Residence Permit</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Equivalence Certificate">
                                <legend>Equivalence Certificate</legend>
                                <div class="fileupload-container">
                                    @if (Model.equivalenceCertificateContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "EquivalenceCertificate" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Equivalence Certificate</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Equivalence Certificate</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="High School Diploma">
                                <legend>High School Diploma</legend>
                                <div class="fileupload-container">
                                    @if (Model.highSchoolDiplomaContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "HighSchoolDiploma" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download High School Diploma</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>High School Diploma</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Student Photo">
                                <legend>Student Photo</legend>
                                <div class="fileupload-container">
                                    @if (Model.studentPhotoContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "StudentPhoto" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Student Photo</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Student Photo</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="International Exam Score">
                                <legend>International Exam Score</legend>
                                <div class="fileupload-container">
                                    @if (Model.internationalExamScoreContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "InternationalExamScore" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download International Exam Score</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>International Exam Score</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                        }
                        else
                        {
                            <fieldset data-filtre="CV">
                                <legend>CV</legend>
                                <div class="fileupload-container">
                                    @if (Model.cvContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "CV" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download CV</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>CV</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Bachelor Diploma">
                                <legend>Bachelor Diploma</legend>
                                <div class="fileupload-container">
                                    @if (Model.bachelorDiplomaContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "BachelorDiploma" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Bachelor Diploma</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Bachelor Diploma</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Bachelor Transcript">
                                <legend>Bachelor Transcript</legend>
                                <div class="fileupload-container">
                                    @if (Model.bachelorTranscriptContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "BachelorTranscript" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Bachelor Transcript</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Bachelor Transcript</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Master Diploma">
                                <legend>Master Diploma</legend>
                                <div class="fileupload-container">
                                    @if (Model.masterDiplomaContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "MasterDiploma" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Master Diploma</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Master Diploma</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Master Transcript">
                                <legend>Master Transcript</legend>
                                <div class="fileupload-container">
                                    @if (Model.masterTranscriptContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "MasterTranscript" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Master Transcript</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Master Transcript</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Copy of Passport / ID Card">
                                <legend>Copy of Passport / ID Card</legend>
                                <div class="fileupload-container">
                                    @if (Model.IdorPassportCopyContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "CopyofPassportorIDCard" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Copy of Passport / ID Card</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Copy of Passport / ID Card</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="English Language Proficiency Score">
                                <legend>English Language Proficiency Score</legend>
                                <div class="fileupload-container">
                                    @if (Model.englishLanguageProfScoreContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "EnglishLanguageProficiencyScore" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download English Language Proficiency Score</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>English Language Proficiency Score</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Reference Letter 1">
                                <legend>Reference Letter 1</legend>
                                <div class="fileupload-container">
                                    @if (Model.referenceLetter1ContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "ReferenceLetter1" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Reference Letter 1</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Reference Letter 1</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                            <fieldset data-filtre="Reference Letter 2">
                                <legend>Reference Letter 2</legend>
                                <div class="fileupload-container">
                                    @if (Model.referenceLetter2ContentResult != null)
                                    {
                                        <div class="fileButtonGroup">
                                            <a href="@Url.Action("DownloadFile", "StudentApplication", new { id = Model.Id, name = "ReferenceLetter2" })" class="btn btn-info btn-block">
                                                <i class="icon-download icon-white"></i>
                                                <span>
                                                    <strong>Download Reference Letter 2</strong>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="fileupload-content">
                                            <li class="file-info col-md-12" style="display:block"><strong>Reference Letter 2</strong> does not exist.<br></li>
                                        </ul>
                                    }
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Assets/lib/sweetalerts/sweetalert.js"></script>
<script type="text/javascript">
    function approveApplication(id) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to approve this application?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, approve it!",
            confirmButtonColor: "#ec6c62"
        }).then((result) => {
            if (result) {
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    async: false,
                    timeout: 600000,
                    url: "/Application/Approval?id=" + id,
                    success: function () {
                        showApprovalMessage();
                    },
                    error: function () {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    }
                });
            }
        });
    }

    function showApprovalMessage() {
        debugger;
        $.ajax({
            type: "POST",
            url: '/Application/ApprovalMessage/',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                window.location.href = "/Application/";
            }
        });
    }

    function rejectApplication(id) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to reject this application?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, reject it!",
            confirmButtonColor: "#ec6c62"
        }).then((result) => {
            if (result) {
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    async: false,
                    timeout: 600000,
                    url: "/Application/Reject?id=" + id,
                    success: function () {
                        showRejectMessage();
                    },
                    error: function () {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    }
                });
            }
        });
    }

    function showRejectMessage() {
        $.ajax({
            type: "POST",
            url: '/Application/RejectMessage/',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                window.location.href = "/Application/";
            }
        });
    }

    function requestMissingFiles(id) {
        swal({
            title: "Missing File Request",
            text: "Do you want to send an mail to the applicant about the missing files.",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes!",
            confirmButtonColor: "#ec6c62"
        }).then((result) => {
            if (result) {
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    async: false,
                    timeout: 600000,
                    url: "/Application/RequestMissingFiles?id=" + id,
                    success: function () {
                        showReqMissingFilesMessage();
                    },
                    error: function () {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    }
                });
            }
        });
    }

    function showReqMissingFilesMessage() {
        $.ajax({
            type: "POST",
            url: '/Application/MissingFilesMessage/',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                window.location.href = "/Application/";
            }
        });
    }

</script>
@*<div class="fixedStart">
    <input type="checkbox" checked id="fixed">
    <label title="" for="fixed" id="fixed"><i class="fa-2x fa fa-plus"> </i></label>
    <div class="fix-buttons">
        <a data-task="Insert" data-method="GET" data-href="/FTM/VWFTM_TaskOperation/Insert?taskId=36fdbd4d-9278-4d37-b078-112fe0946ead&amp;status=12">
            <i data-toggle="tooltip" class="icon-plus-circle" data-original-title="Görevi Üstlen"></i>
        </a>

        <a data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="/FTM/VWFTM_Task/Update/36fdbd4d-9278-4d37-b078-112fe0946ead"><i data-toggle="tooltip" title="Görevi DÜzenle" class="fa fa-edit" data-original-title="Görevi Düzenle"></i></a>


        <a data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="/FTM/VWFTM_Task/DownloadFiles?taskId=36fdbd4d-9278-4d37-b078-112fe0946ead"><i data-toggle="tooltip" title="" class="fa fa-download" data-original-title="Görev Dosyalarını İndir"></i></a>
        <a  data-task="Insert" data-method="GET" data-href="@Url.Action("Insert","Account")">
            <i data-toggle="tooltip" title ="" class="icon-cancel-2"></i> Reddet
        </a>
    </div>
    </div>*@



