@model Isik.SAMS.Models.Entity.SAMS_StudentApplications

@{
    ViewBag.Title = "Send Meeting Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MeetingLink", "Application", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "id", "MeetingLink" },
    { "data-selector", "modalContainer" }
}))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => model.Id)

<div class="row">
    <div class="form-group col-md-12">
        <label class="req" for="code">Meeting Link</label>
        @Html.TextBoxFor(model => model.MeetingLink, new Dictionary<string, object>()
        {
            {"class", "form-control"},
            {"placeholder", "Please enter the meeting link."},
            {"required", "" },
            {"oninvalid","this.setCustomValidity('Please enter the meeting link.')" },
            {"oninput","this.setCustomValidity('')" }
        })
    </div>
    <div class="form-group col-md-12">
        <label class="req" for="code">Meeting Date</label>
        @Html.TextBoxFor(model => model.MeetingDate, new Dictionary<string, object>()
        {
            {"class", "form-control"},
            {"type", "date" },
            {"placeholder", "Please enter the meeting link."},
            {"required", "" },
            {"oninvalid","this.setCustomValidity('Please enter the meeting date.')" },
            {"oninput","this.setCustomValidity('')" }
        })
    </div>
    <div class="form-group col-md-12">
        <label class="req" for="code">Meeting Date Time</label>
        @Html.TextBoxFor(model => model.MeetingDateTime, new Dictionary<string, object>()
        {
            {"class", "form-control"},
            {"type", "time" },
            {"placeholder", "Please enter the meeting link."},
            {"required", "" },
            {"oninvalid","this.setCustomValidity('Please enter the meeting time.')" },
            {"oninput","this.setCustomValidity('')" }
        })
    </div>
</div>
    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-md btn-success pull-right" type="submit" OnClick="">Save</button>
    </div>
}

